<!-- Footer -->
<div class="container">
    <div class="row">
        <div class="column">
          <h5>Copyright @2016 Sanitize Your Text All rights reserved.</h5>
        </div>
        <div class="column">
          <ul class="visitor breadcrumb pull-right">
            <li><%=link_to("Github", "https://github.com/dpanaben/pattern5")%></li>
            <li><%=link_to("About", page_path('_about'))%></li>
            <li><%=link_to("Privacy", "#")%></li>
            <li><%=link_to("Support", "#")%></li>
          </ul>
        </div>
    </div>
</div>
