<% content_for :title do %>About<% end %>
<h1>About the Website</h1>
<p>本專案提供一個線上文字原稿的正規化工具。主要目的是讓使用者能依據自訂的規則，來整理文章中的標點符號、段落空白、格式，在文章上架發佈之前，可以先檢查是否有格式不一致的地方。使用者貼入文章之後，系統會自動帶入設定好的搜尋取代規則，用顏色標明即將會修整的地方。使用者如果覺得規則不足或不合用，也可以自行輸入正規表示法來建立想要的規則或予以刪除。使用者可以建立新的法典(Portfolio)，用來容納許多條規則(Rule)以便整組一起執行，並可任意增刪規則或改變其套用的順序。對於輸入的文章也有版本控制，如果修改之後不滿意，也可以回復上一個版本。</p>
<h2><a id="Problems_Issues_5"></a>Problems? Issues?</h2>
<h2><a id="Ruby_on_Rails_15"></a>Ruby on Rails</h2>
<p>This application requires:</p>
<ul>
<li>Ruby 2.3.1</li>
<li>Rails 5.0.0</li>
</ul>
<p>Learn more about <a href="http://railsapps.github.io/installing-rails.html">Installing Rails</a>.</p>
<h2><a id="Getting_Started_25"></a>Getting Started</h2>
<h2><a id="Documentation_and_Support_28"></a>Documentation and Support</h2>
<h2><a id="Issues_31"></a>Issues</h2>
<h2><a id="Similar_Projects_34"></a>Similar Projects</h2>
<h2><a id="Contributing_37"></a>Contributing</h2>
<p><a href="https://twitter.com/edward_lin">@edward_lin</a></p>
<h2><a id="Credits_42"></a>Credits</h2>
<h2><a id="License_45"></a>License</h2>
