<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1><%=(t "post.page.edit.title")%></h1>
      <%= link_to (t "back"), @post, :class => "btn btn-default pull-right" %>
      <%= render 'form' %>
    </div>
    <div class="col-md-6">
      <%= render 'history'%>
    </div>
  </div>
</div>
