/* ---- grid ---- */
.grid {
  background: #FFD966;
  /* center */
  margin: 0 auto;
  counter-reset: grid-item;
}
/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- grid-item ---- */
.grid-item {
  width: 270px;
  float: left;
  background: #6DD0F2;
  border: 1px dashed #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  margin: 10px;
  border-radius: 5px;
}
.grid-item:before {
  counter-increment: grid-item;
  content: counter(grid-item);
  display: block;
  color: white;
  padding-top: 0.2em;
  text-align: center;
  font-size: 5px;
}
.grid-item--gigante {
  width: 360px;
  height: auto;
}
.grid-item:hover {
  background: #EEBA4C;
  border-color: white;
  cursor: pointer;
}
