<%# add navigation links to this file %>
<li><%= session[:locale] == 'en' ? link_to("中文版", controller: controller.controller_name, action: controller.action_name, locale: "zh") : link_to("English", controller: controller.controller_name, action: controller.action_name, locale: "en") %></li>
<% if current_user %>
<li><%= link_to (t "about"), page_path('_about') %></li>
  <% if policy(Sanitize).index? %>
    <li><%= link_to (t "rulepanel"), sanitizes_path %></li>
  <% end %>
<% end %>
<ul class="nav navbar-nav">
  <%= branch_info if Rails.env.development? %>
</ul>
